[Unit]
Description=ActiveMQ service
After=network.target

[Service]
Type=forking
ExecStart={{home_dir}}/bin/activemq start
ExecStop={{home_dir}}/bin/activemq stop
User=root
Group=root
Restart=always
RestartSec=9
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=activemq

[Install]
WantedBy=multi-user.target
